img {
    width: 100vw;
}
body {
    margin: 0;
}
.ll { 
  text-align: center;
padding: 8px;
background-color: bisque;
}
flex-box {
    display:flex
  }
  .main{
   padding-top:38px;

  }
  .header{
    padding: 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
  }
  .headerrr{
    position: fixed;
    width: 100vw;
  }
  div a{
    text-decoration: none;
  }
.container {
    border: 5px dashed green;
    display: flex;
    flex-direction: row;
    height: 90vh
  }
  .box {
    flex: 1;
    width: 100px;
    height: 100px;
    background-color: gold;
    margin: 5px;
  }
  .big {
    flex: 2;
    background-color: aqua;
  }
  .small {
    flex: 1;
    background-color: chartreuse;
  }
  h1{
  margin: 0;

  }
  p{
    margin: 0;
  }
  .left {
    display: flex;
    flex-direction: column;
    border: 5px solid blue;
    flex: 1.5;
    justify-content: center;
    align-items: center;
  }
  .right {
    border: 5px solid green;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  